* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  background-image: linear-gradient(to left, #31558a, #e41be8);
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* Media Queries */
@media (max-width: 600px) {
  body{
    height: 111vh;
  }
  .links .url{
    font-size: 15px;
    font-weight:400;
    padding: 21px;
    height: 18px;
    width: 70%;
  }
  .links.url.icon {
    position: relative;
   
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo img {
  margin-top: 45px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
}

.logo #name {
  margin-top: 1.3em;
  font-weight: bold;
  color: #ffffff;
}

.links {
  margin-top: 1.3em;
  display: grid;
  place-items: center;
}

.links a {
  padding: 21px;
  text-decoration: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  box-shadow: 9px 9px #ced4da;
}

.url {
  height: 30px;
  width: 50%;
  margin-top: 25px;
  color: #000000;
  font-weight: normal;
  transition: 0.7ms ease-in-out;
  display: flex;
}

a:hover {
  background-color: #f1ebeb;
  box-shadow: 5px 5px #3a7bd5;
}

.links .icon {
  position: fixed;
  margin-left: 130px;
}

#space {
  visibility: hidden;
}
