@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(62deg, #8ec5fc 34%, #e0c3fc 100%);
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box #img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-top: 50px;
}
#name {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 1rem;
}

.links {
  margin-top: 1.3em;
  display: grid;
  place-items: center;
}

.links a {
  padding: 21px;
  background-color: #f8f7ff;
  text-decoration: none;
  font-size: large;
  border: solid 2px #f8f7ff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: all 0.9ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.link {
  height: 2vh;
  width: 39vw;
  margin-top: 21px;
  border-radius: 40px;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

