* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  background-image: linear-gradient(to bottom, #aaffa9, #11ffbd);
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo img {
  margin-top: 45px;
  height: 96px;
  width: 96px;
  border-radius: 50%;
}

.logo #name {
  margin-top: 1.3em;
  font-weight: bold;
  color: #000000c9;
}

.links {
  margin-top: 1.3em;
  display: grid;
  place-items: center;
}

.links a {
  padding: 21px;
  text-decoration: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  box-shadow: 5px 5px #ced4da;
}

.url {
  height: 30px;
  width: 50%;
  margin-top: 21px;
  color: #8e9aaf;
  transition: 0.3s ease-out;
}
a:hover {
  background-color: #ebe5e5;
  box-shadow: 0 0 5px 5px #f0fff0;
}
/* 
.links .icon {
  position: relative;
  left: 1em;
} */
.links .icon {
  position: fixed;
  left: auto;
  margin-left: 110px;
}
